body {
  padding-top: 10px;
}

.container {
    padding-top: 20px;
}

button.btn-primary {
    width: 100%;
}

.form-group {
    margin-bottom: 20px;
}


.form-control {
    padding: 10px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-logo img {
  height: 100px;
  margin-right: 1px;

}

.navbar-brand {
  font-size: 20px;
  color: black;
}